doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Mivid Stack
    link(rel="stylesheet", href="styles.css")
  body.viewport
    header
      .logo
      p Mivid Stack
    section.main
      todoApp
    script(src="bundle.js")
